body{
    background-image: url(imagem/background.jpg);
    background-size: auto;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    
}

  
h1{
    font-family: tahoma;
    text-align: center;
    color: rgb(255, 255, 255); 
   
}
  
#nome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: 25px;
}

#nome1{
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 3px;
    width: 100px;
    padding-left: 50px;    
    
    
}
  
#sobrenome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: 25px;
}

#sobrenome1{
    border: solid black;
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 3px;
    width: 100px;
    padding-left: 50px;    
    
    
}
  
#data{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: 25px;
}

#data1{
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 3px;
    width: 132px;
    padding-left: 25px;    
    
}
  
#tel{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: 25px;
}

#tel1{  
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 3px;
    width: 135px;
    padding-left: 20px;    
    
    
}
  
#hora{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: 25px;

}

#hora1{
    border: solid black;
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    width: 100px;
    padding-left: 50px;     
    

}
  
#botao{
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    border-radius: 5px;
}

#botao:hover {
    background-color: green;
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   
}
  
div{
  margin: 0 auto;
  width:200px;
  text-align: center;
  
}

textarea:focus, input:focus {
    box-shadow: 1px 1px 4px 1px;
    outline: 0;
    color: red;
}